#container {
	position: relative;
}

#userinput {
	border: 1px solid black;
	display: inline-block;
	min-width: 20%;
	max-height: 95%;

}

#dropDownMenu {
	position: fixed;
	right: 50%;
	left: 45%;
	top: 50px;
	max-width: 15%;
}

#translate {
	position: fixed;
	right: 50%;
	left: 45%;
	top: 130px;
	min-width: 6%;
}

#output {
	border: 1px solid black;
	position: fixed;
	right: 5%;
	top: 50px;
	max-width: 30%;
	max-height: 95%;
	text-justify: justify;
}
